.portfolio {
  padding-top: 48px;
  background: #ffffff;
  border-radius: 3px;
}
.portfolio__galery {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
  width: 1000px;
}
.portfolio__image {
  width: 215px;
  height: 215px;
  border-radius: 3px;
}
.portfolio_image-size_stretching {
  object-fit: none;
  object-position: -15px -10px;
}