.tabs {
  position: relative;
  margin-bottom: 35px;
}
.tabs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  border-radius: 3px;
  list-style-type: none;
}
.tabs__radio {
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}
.tabs__radio_checked:checked + .tabs__label {
  font-weight: 700;
  color: #ffffff;
  background: #ef7f04;
}
.tabs__radio_checked:checked ~ .tabs__description {
  display: block;
}
.tabs__radio_focused:focus-visible {
  outline: none;
}
.tabs__radio_focused:focus-visible + .tabs__label {
  outline: 2px solid black;
}
.tabs__label {
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  transition: 0.2s;
}
.tabs__label_hover:hover {
  color: #ffffff;
  background: #ef7f04;
}
.tabs__description {
  position: absolute;
  top: 305px;
  left: -25px;
  width: 305px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: none;
}
.tabs__display {
  display: flex;
  width: 100%;
  height: 460px;
  overflow: hidden;
  background: white;
  border-radius: 3px;
}
.tabs__display-logo {
  width: 50%;
  height: 100%;
  background: url(../img/logo.png) 30px 45px/auto 140px no-repeat;
}
.tabs__display-image {
  display: flex;
  justify-content: right;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

@media (max-width: 1220px) {
  .tabs__description {
    width: 280px;
    left: 0;
  }
  .tabs__display {
    width: 880px;
  }
  .tabs__display-image {
    justify-content: center;
  }
}