body {
    display: flex;
    flex-direction: column;

    margin: 0;

    font-family: 'Roboto', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 1200px;
    height: 100px;

    background: white;
}

header img {
    margin: 17px 0;

    width: 90px;
}

header ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    height: 100%;
}

header li {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto 20px;

    height: 100%;

    font-weight: 400;
    font-size: 16px;
}

header nav a {
    text-decoration: none;
    color: black;

    transition: 0.3s;
}

header nav a:hover {
    color: #ef7f04;
}

header nav a::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 4px;

    background: #ef7f04;
    opacity: 0;
    transition: 0.3s;
}

header nav a:hover::before {
    opacity: 1;
}

header button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 170px;
    height: 40px;

    margin: auto;
    padding: 0;

    border-radius: 3px;
    font-weight: 700;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

header button:nth-of-type(1) {
    border: 1px solid #ef7f04;
    background: #ef7f04;
}

header button:nth-of-type(1):hover {
    color: #ef7f04;
    background: transparent;
}

header button:nth-of-type(1):active {
    color: white;
    background: #ef7f04;
}

header button:nth-of-type(2) {
    border: 1px solid #3b3a63;
    background: #3b3a63;
}

header button:nth-of-type(2):hover {
    color: #3b3a63;
    background: transparent;
}


header button:nth-of-type(2):active {
    color: white;
    background: #3b3a63;
}

header button img {
    margin: 0;

    width: auto;
}

header button:nth-of-type(1):hover img {
    content: url(./img/icon-meas-colored.png);
}

header button:nth-of-type(1):active img {
    content: url(./img/icon-meas.png);
}

header button:nth-of-type(2):hover img {
    content: url(./img/icon-calc-colored.png);
}


header button:nth-of-type(2):active img {
    content: url(./img/icon-calc.png);
}


main {
    background: #f2f2f2;
}

section {
    z-index: 1;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 562px;
}

.title-background-container {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: -1;

    width: 100%;
    height: 100%;
}

.title-background-container div:nth-child(1) {
    flex-shrink: 0;

    width: 1219px;
    height: 562px;

    background: url(./img/title-container-background1.png), #333349;
    background-blend-mode: multiply;
}

.title-background-container div:nth-child(2) {
    position: relative;
    flex-shrink: 0;

    width: 702px;
    height: 562px;

    background: url(./img/title-container-background2.png), #333349;
    background-blend-mode: multiply;
}

.title-background-container div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: -125px;

    width: 250px;
    height: 100%;

    background: linear-gradient(91.72deg, rgba(50, 50, 72, 0) 1.52%, #323248 46.02%, rgba(50, 50, 72, 0) 98.62%);;
}

.title-wrapper {
    width: 590px;
}

.title-wrapper h1 {
    margin: 20px 0;
    
    width: 460px;

    font-weight: 100;
    font-size: 36px;
    line-height: 42.19px;
    color: white;
}

.title-wrapper h1 span {
    display: block;

    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #ef7f04;
}

.advantages-container {
    display: flex;
    justify-content: space-between;
}

.advantages-container div {
    width: 175px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.advantages-container div:nth-child(1) img {
    position: relative;
    left: -15px;
}

.title-container form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
    height: 430px;

    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title-container form h2 {
    margin: 43px 0 27px;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2f2f51;
}

.title-container form input {
    margin: 0 0 15px;
    padding: 0;

    width: 320px;
    height: 40px;

    background: #e2e2e2;
    border: 0;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #424268;
    text-indent: 16px;
}

.title-container form img {
    position: absolute;
    bottom: -55px;
    left: -88px;
}

.form-checkbox {
    position: absolute;
    z-index: -1;
}

.form-checkbox+label {
    position: relative;
    display: block;
    margin: 0 40px 0 75px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    user-select: none;
}

.form-checkbox+label a {
    text-decoration: none;
    color: #4b67af;
}

.form-checkbox+label::before {
    content: "";
    display: block;
    position: absolute;
    left: -35px;

    width: 25px;
    height: 25px;

    background: #E2E2E2;
    border-radius: 3px;
}

.form-checkbox:checked+label::before {
    background: green;
}

.form-checkbox:focus-visible {
    outline: none;
}

.form-checkbox:focus-visible+label::before {
    outline: 2px solid black;
}

.title-container form button {
    margin-top: 27px;
    
    width: 200px;
    height: 55px;

    background: #ef7f04;
    border: 1px solid #ef7f04;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.title-container form button:hover {
    color: #ef7f04;
    background: transparent;
}

.title-container form button:active {
    color: white;
    background: #ef7f04;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    width: 1220px;
}

.services-container h1 {
    margin: 65px auto 40px;

    width: 100%;

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2f2f51;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin: 5px;

    width: 595px;
    height: 270px;
    border: none;
    border-radius: 3px;
}

.services-container div:nth-of-type(1) {
    background: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service-background1.png);
    background-size: cover;
}

.services-container div:nth-of-type(2) {
    background: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service-background2.png);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background-position-y: -6px;

    background-size: auto 290px;
}

.services-container div:nth-of-type(3) {
    background: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service-background3.png);
}

.services-container div:nth-of-type(4) {
    background: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(./img/service-background4.png);
    background-size: cover;
}

.services-container img {
    margin-left: 50px;
    margin-right: 25px;

    width: 68px;
}

.services-container h2 {
    margin: 0;

    width: 255px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2f2f51;
}

.services-container div:nth-of-type(4) h2 {
    width: 300px;
}

.services-container p {
    margin: 30px auto auto 50px;

    width: 300px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2f2f51;
}

.about-company-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    width: 1200px;
    height: 650px;

    overflow: hidden;
}

.about-company-container h1 {
    margin: 65px auto 32px;

    width: 100%;

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2f2f51;
}

.about-company-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0;

    width: 650px;

    border-radius: 3px;
    list-style-type: none;
}

.about-company-container input+label {
    padding: 10px 25px;

    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2f2f51;
    transition: 0.2s;
}

.about-company-container input:checked+label {
    font-weight: 700;
    color: #ffffff;
    background: #ef7f04;
}

.about-company-container ul input {
    position: absolute;
    margin: 0;
    padding: 0;

    width: 0;
    height: 0;
}

.about-company-container div {
    position: absolute;
    top: 190px;
    left: 0;

    width: 100%;
    height: 460px;
    background: url(./img/logo.png) 50px 50px / auto 140px no-repeat, url(./img/about-company-background.png) right / auto 460px no-repeat, white;
    opacity: 0;
}

.about-company-container p {
    margin: 250px 0 0 250px;

    width: 305px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.about-company-container input:checked~div {
    opacity: 1;
}


/* Пока не придумал как это правильно реализовать
.about-company-container>div {
    z-index: -1;
    opacity: 1;
} */